doctype html
// courses
html(lang='en')
  head
    meta(charset='utf-8')
    title Educator
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='Description', content='Looking for anything about your course, look on this website for all the information')
    link(rel='stylesheet', type='text/css', href='resources/css/main.css')
  body
    header
      .logo-box
        a(href='/')
          img.logo(src='resources/Images/logo.png', alt='Logo')
      nav
        ul.navbar
          li
            a(href='/') Home
          li
            a(href='concurrency') Concurrency
          li
            a(href='schedule') Schedule
          li
            a(href='assignments') Assignments
          li
            a(href='description') Description
          li
            a(href='info') Information
          li
            a(href='courses') Courses
    main
    h2 Find here all the courses we teach

    form
     label(for='search_label') Search:
     input#search(type='text', name='search')
     label(for='program_label') Program:
     select#program
       option(value='any') Any
       option(value='computer science') Computer Science
       option(value='information science') Information Science
       option(value='mathematics') Mathematics
     label(for='semester_label') Semester:
     select#semester
       option(value='any') Any
       option(value='1') 1
       option(value='2') 2
     label(for='level_label') Level:
     select#level
       option(value='any') Any
       option(value='bsc') BSc
       option(value='msc') MSc

    table
      thead
        tr
          th Title
          th Program
          th Academic Level
          th Semester
          th Description
          th Teacher
          th Picture
      tbody
        each item in course
          tr
            td=item.Title
            td=item.Program
            td=item.Academic_level
            td=item.Semester
            td=item.Description
            td=item.Teacher
            td=item.Picture
    
   
    script(src='resources/js/course.js')
    footer
      | © Utrecht University 2020
