doctype html
// assignments
html(lang='en')
    head
        title Educator
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='Description', content='Find more detailed information about your assignments')
        link(rel='stylesheet', type='text/css', href='resources/css/main.css')
        meta(charset='utf-8')
    body
        header
            .logo-box
                a(href='/')
                    img.logo(src='resources/Images/logo.png', alt='Logo')
            nav
                ul.navbar
                    li
                        a(href='/') Home
                    li
                        a(href='concurrency') Concurrency
                    li
                        a(href='schedule') Schedule
                    li
                        a(href='assignments') Assignments
                    li
                        a(href='description') Description
                    li
                        a(href='info') Information
                    li
                        a(href='courses') Courses

        p
        section.navbar
            button.link(onclick='registrations();') Registered Courses
            button.link(onclick= "location.href='http://localhost:3000/Account'") Account
            button.link(onclick='logout();') Logout

            script.
                function logout() {
                    const Http = new XMLHttpRequest();

                    const url='http://localhost:3000/dashboard/logout';
                    Http.open("GET", url);
                    Http.send();
 
                    Http.onreadystatechange = function(){
                    if(this.readyState==4 && this.status==200){
                      window.location.href ='http://localhost:3000/login';
                      }
                     }
                }


        form
            label(for='search_label') Search:
            input#search(type='text', name='search')
            label(for='program_label') Program:
            select#program
                option(value='any') Any
                option(value='Computer science') Computer Science
                option(value='Information science') Information Science
                option(value='Mathematics') Mathematics
            label(for='semester_label') Semester:
            select#semester
                option(value='any') Any
                option(value='1') 1
                option(value='2') 2
            label(for='level_label') Level:
            select#level
                option(value='any') Any
                option(value='BSc') BSc
                option(value='MSc') MSc



        table#coursetable
            thead
                tr
                    th Title
                    th Program
                    th Academic Level
                    th Semester
                    th Description
                    th Teacher
                    th Action
            tbody
                each item in course
                    tr
                        td=item.Title
                        td=item.Program
                        td=item.Academic_level
                        td=item.Semester
                        td=item.Description
                        td=item.Teacher
                        td
                            button#add add course
                            button#remove delete course


        script(src='resources/js/course.js')
        footer
            | © Utrecht University 2020
